<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Mongo Virtual Collections Module Tests">
            <directory>MongovcTests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="report/" charset="UTF-8" highlight="false" lowUpperBound="60" highLowerBound="99"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../library</directory>
        </whitelist>
    </filter>
</phpunit>